header{
    background-image: url(./bg-header.png);
    height:745px;
    width:100%;
    margin-top:-92px;
    color:white;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1{
    font-size:64px;
    font-family: 'ArtigoRegular';
    font-weight: 500;
}

.content{
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:745px;
}

header-esquerda {
    width:40%;
}

header-direita {
    width:50%;
    text-align:center;
}

.btn-primary{
    background-color: #00EC5B;
    border:1px solid #00EC5B;
    border-radius:25px;
    font-family: 'Inter';
    color:black;
    font-size:14px;
    padding:12px 30px;
}

.btn-primary:hover{
    background-color: black;
    border:1px solid black;
}

@media only screen and (max-width: 735px)  { 
    header h1{
        font-size:48px;
        font-family: 'ArtigoRegular';
        font-weight: 500;
    }

    header-esquerda {
        width:60%;
    }
    
    header-direita {
        width:40%;
    }
    header-direita img{
        width:100%;
    }
 }

@media only screen and (max-width: 375px) { 

    .content{
        flex-wrap: wrap;
        flex-direction:column-reverse;
    }
    header h1{
        font-size:38px;
        font-family: 'ArtigoRegular';
        font-weight: 500;
    }

    header-esquerda {
        width:100%;
        text-align:center;
    }
    
    header-direita {
        width:80%;
        padding-top:40%;
        }

    .btn-primary{
        width:100%;
        margin:20px 0px;
    }
 }