.container-contato{
    width:80%;
    margin:0 auto;
    padding:100px 0;
    display: flex;
    justify-content: space-between;
}

.fundo-contato{
    background-color: var(--fourth-color);
    color:var(--third-color);
    z-index:2;
    position:relative;
}

.redes-sociais {
    font-family: 'Inter';
    font-weight: 400;
    font-size:14px;
    display: flex;
    gap:10px;
}

