nav {
    display:flex;
    justify-content: space-between;
    width:82%;
    margin: 0 auto;
    z-index:2;
    padding:20px 0px;
}

right {
    display:flex;
    gap: 12px;
    align-self: center;
    color:white;
}