.depo-container {
    width: 75%;
    margin: 120px auto;
    display: grid;
    grid-template-areas:
        "col1 col1 col2 col2"
        "col1 col1 col2 col2"
        "col1 col1 col3 col3"
        "col1 col1 col3 col3"
    ;
    height: 747px;
}

.depo-esquerda {
    background-image: url(./img-grupo.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 120px;
    grid-area: col1;
}

.depo-direita-1 {
    grid-area: col2;
    background-color: #1B1F1C;
    text-align: center;
    color: var(--third-color);
    height: auto;
    margin-bottom: -50px;
}

.depo-direita-2 {
    grid-area: col3;
    background-image: url(./img-homem.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    font-size: 32px;
    color: var(--third-color);
    font-family: 'ArtigoRegular';
    text-align: center;
}

.depo-direita-2::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(53, 53, 53, 0.486);
    color: var(--second-color);

}


.depo-direita-2 p {
    margin-top: 155px;
    position: relative;
    color: var(--third-color);
    font-family: 'Artigo';
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
}


.carousel-item {
    height: 290px;
}

.carousel p {
    color: var(--third-color);
    font-family: 'Artigo';
    font-size: 18px;
}

@media only screen and (max-width: 520px) {
    .depo-container {
        width: 90%;
        grid-template-areas:
            "col1"
            "col1"
            "col2"
            "col3"
        ;
        height: auto;
    }

    .depo-esquerda {
        padding-top: 580px;
        grid-area: col1;
    }

    .depo-direita-1 {
        margin-bottom: 0px;
        padding: 80px 0;
    }

    .depo-direita-2 {
        padding: 120px 0;
    }

    .depo-direita-2 p {
        margin-top: 50px;
    }

    .carousel-item {
        height: 200px;
    }

}