@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');


@font-face {
  font-family: "Artigo Regular";
  src:  url("./fonts/artigo-pro-regular.otf") format("otf");
}

@font-face {
  font-family: "Artigo";
  src: url("./fonts/artigo-pro-bold.otf") format("otf");
}



body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-color: #00EC5B;
  --second-color:#0c0c0c;
  --third-color:#ffffff;
  --fourth-color:#1B1F1C;
}

